body{

    background:#0b0b0b;

    color:white;

    font-family:"Poppins",sans-serif;

    overflow-x:hidden;

}
::selection{

background:#4E8F63;

color:white;

}
html{

scroll-behavior:smooth;

}
::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#111;

}

::-webkit-scrollbar-thumb{

background:

linear-gradient(

var(--green),

var(--yellow)

);

border-radius:20px;

}
body{

overflow-x:hidden;

}
html{

    scroll-behavior:smooth;

}

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body::before{

content:"";

position:fixed;

inset:0;

background-image:

radial-gradient(

rgba(255,255,255,.05) 1px,

transparent 1px

);

background-size:40px 40px;

opacity:.2;

pointer-events:none;

z-index:-2;

}

body::after{

content:"";

position:fixed;

inset:0;

background-image:url("https://grainy-gradients.vercel.app/noise.svg");

opacity:.04;

pointer-events:none;

z-index:-1;

}

section{

position:relative;

}

section::after{

content:"";

position:absolute;

bottom:0;

left:50%;

transform:translateX(-50%);

width:120px;

height:1px;

background:

linear-gradient(

90deg,

transparent,

rgba(255,255,255,.08),

transparent

);

}

html{

    scroll-behavior:smooth;

}

section{

    scroll-margin-top:120px;

}