.footer{

padding:80px 8%;

text-align:center;

border-top:1px solid rgba(255,255,255,.06);

}

.footer h2{

font-size:2rem;

margin-bottom:15px;

color:var(--green);

}

.footer>p{

color:#bdbdbd;

margin-bottom:35px;

}

.footer-links{

display:flex;

justify-content:center;

gap:40px;

margin-bottom:40px;

}

.footer-links a{

color:white;

text-decoration:none;

transition:.3s;

}

.footer-links a:hover{

color:var(--yellow);

}

.copyright{

font-size:.9rem;

color:#888;

}