.global-impact{

padding:160px 8%;

text-align:center;

position:relative;

}

.global-impact h2{

font-size:3.2rem;

margin-bottom:20px;

}

.global-impact p{

max-width:650px;

margin:auto;

color:#BDBDBD;

margin-bottom:80px;

line-height:1.8;

}

.map-container{

position:relative;

max-width:1100px;

margin:auto;

}

.world-map{

width:100%;

opacity:.18;

filter:

drop-shadow(0 0 60px rgba(78,143,99,.15));

}

/* ---------- MARKERS ---------- */

.marker{

position:absolute;

width:18px;

height:18px;

border-radius:50%;

background:var(--green);

border:3px solid var(--yellow);

cursor:pointer;

animation:pulse 2s infinite;

transition:.35s;

box-shadow:

0 0 25px rgba(78,143,99,.6);

}

.marker:hover{

transform:scale(1.6);

}

/* INDIA */

.india{

top:56%;

left:69%;

}

/* GERMANY */

.germany{

top:33%;

left:50%;

}

/* USA */

.usa{

top:38%;

left:18%;

}

/* UK */

.uk{

top:30%;

left:46%;

}

/* SOUTH KOREA */

.korea{

top:40%;

left:80%;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.4);

}

100%{

transform:scale(1);

}

}