.impact-card{

background:rgba(255,255,255,.04);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

border-radius:30px;

padding:40px;

transition:.4s;

position:relative;

overflow:hidden;

}

.impact-card:hover{

transform:translateY(-10px);

box-shadow:

0 30px 70px rgba(0,0,0,.35);

}

.impact-card::before{

content:"";

position:absolute;

inset:0;

background:

linear-gradient(

120deg,

transparent,

rgba(255,255,255,.08),

transparent

);

transform:translateX(-120%);

transition:1s;

}

.impact-card:hover::before{

transform:translateX(120%);

}

.impact-icon{

width:70px;

height:70px;

display:flex;

justify-content:center;

align-items:center;

border-radius:20px;

font-size:2rem;

margin-bottom:25px;

}

.impact-card h2{

font-size:3rem;

margin-bottom:10px;

}

.impact-card p{

color:#BDBDBD;

line-height:1.7;

}