.newsletter{

padding:170px 8%;

display:flex;

justify-content:center;

}

.newsletter-card{

width:100%;

max-width:1100px;

padding:70px;

border-radius:40px;

background:rgba(255,255,255,.04);

backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.08);

text-align:center;

position:relative;

overflow:hidden;

}

.newsletter-card::before{

content:"";

position:absolute;

width:500px;

height:500px;

background:

radial-gradient(

circle,

rgba(78,143,99,.18),

transparent 70%

);

top:-220px;

left:-120px;

filter:blur(80px);

}

.newsletter-tag{

display:inline-block;

padding:10px 18px;

border-radius:999px;

background:rgba(255,255,255,.05);

color:var(--yellow);

margin-bottom:25px;

}

.newsletter h2{

font-size:3rem;

margin-bottom:20px;

}

.newsletter h2 span{

color:var(--green);

}

.newsletter p{

max-width:650px;

margin:auto;

line-height:1.8;

color:#bdbdbd;

margin-bottom:45px;

}

.newsletter-form{

display:flex;

justify-content:center;

gap:18px;

flex-wrap:wrap;

}

.newsletter-form input{

width:420px;

padding:18px 25px;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

border-radius:999px;

color:white;

font-size:1rem;

outline:none;

}

.newsletter-form button{

padding:18px 34px;

border:none;

border-radius:999px;

background:rgb(255, 255, 255);
font-weight:700;

cursor:pointer;

transition:.35s;

}

.newsletter-form button:hover{

transform:translateY(-4px);

}