
.products{

padding:140px 8%;

border-top:1px solid rgba(255,255,255,.05);

}

.products h2{

font-size:3rem;

margin-bottom:18px;

}

.products > p{

color:#A9A9A9;

margin-bottom:60px;

font-size:1.1rem;

}

.products-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:36px;

}

.products>p{

color:#A9A9A9;

margin-bottom:60px;

font-size:1.1rem;

}

.products-grid{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:36px;

}