.testimonials{

padding:150px 8%;

text-align:center;

}

.testimonials h2{

font-size:3rem;

margin-bottom:18px;

}

.testimonials>p{

color:#bdbdbd;

margin-bottom:70px;

}

.testimonial-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

}

.testimonial-card{

padding:35px;

border-radius:30px;

background:rgba(255,255,255,.04);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

transition:.35s;

}

.testimonial-card:hover{

transform:translateY(-10px);

border-color:var(--green);

}

.quote{

font-size:3rem;

color:var(--yellow);

margin-bottom:25px;

}

.testimonial-card p{

line-height:1.8;

color:#d0d0d0;

margin-bottom:30px;

}

.user{

display:flex;

align-items:center;

gap:18px;

}

.avatar{

width:60px;

height:60px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
var(--green),
var(--yellow)
);

font-weight:700;

font-size:1.3rem;

color:#111;

}

.user h4{

margin-bottom:5px;

}

.user span{

color:#9d9d9d;

font-size:.9rem;

}