.trusted{

padding:60px 8%;

text-align:center;

}

.trusted p{

font-size:1rem;

color:#BDBDBD;

margin-bottom:45px;

}

.trusted span{

color:var(--yellow);

font-weight:700;

}

.trusted-track{

display:flex;

justify-content:center;

gap:70px;

flex-wrap:wrap;

}

.brand{

font-size:1.1rem;

font-weight:700;

letter-spacing:2px;

opacity:.45;

transition:.3s;

cursor:pointer;

}

.brand:hover{

opacity:1;

color:var(--green);

}