.background-grid{

position:fixed;

inset:0;

background:

linear-gradient(

rgba(255,255,255,.02) 1px,

transparent 1px

),

linear-gradient(

90deg,

rgba(255,255,255,.02) 1px,

transparent 1px

);

background-size:45px 45px;

opacity:.25;

z-index:-5;

}

.green-glow{

position:fixed;

width:700px;

height:700px;

background:radial-gradient(circle,

rgba(78,143,99,.22),

transparent 70%);

left:-220px;

top:120px;

filter:blur(120px);

z-index:-4;

animation:moveGlow1 18s ease-in-out infinite;

}

.yellow-glow{

position:fixed;

width:650px;

height:650px;

background:radial-gradient(circle,

rgba(221,184,84,.18),

transparent 70%);

right:-150px;

top:0;

filter:blur(130px);

z-index:-4;

animation:moveGlow2 20s ease-in-out infinite;

}

.noise{

position:fixed;

inset:0;

background-image:url("https://grainy-gradients.vercel.app/noise.svg");

opacity:.05;

pointer-events:none;

z-index:-3;

}

@keyframes moveGlow1{

0%,100%{

transform:translate(0,0);

}

50%{

transform:translate(60px,40px);

}

}

@keyframes moveGlow2{

0%,100%{

transform:translate(0,0);

}

50%{

transform:translate(-70px,50px);

}

}