.cursor-glow{

position:fixed;

width:260px;

height:260px;

border-radius:50%;

background:
radial-gradient(

circle,

rgba(83,194,107,.12),

transparent 70%

);

pointer-events:none;

transform:
translate(-50%,-50%);

z-index:0;

transition:left .08s linear,
top .08s linear;

filter:blur(25px);

}