.loader{

position:fixed;

inset:0;

background:#0B0B0B;

display:flex;

justify-content:center;

align-items:center;

z-index:99999;

}

.loader h1{

font-size:4rem;

letter-spacing:4px;

}

.loader span{

color:var(--green);

}