.section-title{

margin-bottom:70px;

}

.section-title.center{

text-align:center;

}

.section-title h2{

font-size:3.2rem;

font-weight:700;

margin-bottom:18px;

color:white;

}

.section-title p{

max-width:650px;

margin:auto;

line-height:1.8;

color:var(--text);

font-size:1.05rem;

}